.header_nav {
    background: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_nav a {
    color: #ffff;
    text-decoration: none;
    margin-left: 32px;
    font-size: 17px;
}

.loginBtn {
    background: rgb(0, 110, 255);
    border-radius: 4px;
    color: #fff;
    padding: 8px 10px;
    border: 0;
    cursor: pointer;
    margin-left: 20px;
}